

/**
 * color & type & style
 *
 * orange: rgb(232,46,33)
 * red: rgb(232,46,33)
 */
 
 
 
#header { background:rgb(232,46,33) !important; }

h1, h2, h3, h4, h5, h6 {
    text-transform: none;
}

.home .page_navigation { display:none; }




/**
 * meta column
 *
 */

.neu-meta {
    padding:0 10px;
    line-height:1.4em;
    font-size:.9em;
    font-family:sans-serif;
}

.sidebar_contents_wrapper { background:#eee;}

.neu-meta h2 {
    text-align:left;
    font-size:1.2em;
}

#toc_sidebar .neu-meta ul li {
    list-style:decimal;
    margin:0 0 0 20px;
}

/**
 * comment nav
 *
 */

h2.sidebar-title { 
    background:#555;
    color:white;
    text-align:center; 
    margin:0; padding:.5em 0;
}

ul#sidebar_tabs {
}

ul#sidebar_tabs li a {
    text-decoration: none;
    color: #000;
    background:#eee;
    border-bottom:4px solid transparent;
    font-size: 12px; /* was 20px */
    height:12px;
 }
 
 
ul#sidebar_tabs li a.active-tab {
    background-color: #fff;
    border-bottom:4px solid rgb(232,46,33);
}



/**
 * comment button
 *
 */

.reply_to_para p{
}

.reply_to_para p a:hover,
.reply_to_para p a:hover em {
    color:white;
    background:rgb(232,46,33);
}

.reply_to_para p a em {
    font-style:normal;
    color:rgb(232,46,33);
}




/**
 * comment thread
 *
 */

#comments_sidebar, 
#activity_sidebar {
    top:40px;
}

#activity_sidebar {}

.comments_container {  }

#para_heading- { /* whole page */
    border-bottom:1px dashed #aaa;
    padding:1em 0;
    background:#fff;
}

#para_heading-xyz-etcetera { /* indiv paragraph */
    border-bottom:1px dashed #ccc;
}


.comments_container>h3 {
    margin: 0;
    font-size: 80%;
    font-weight: bold;
    color: #222;
    background-color: #fff;
}

.comments_container>h3.activity_heading {
    padding:1em 10px;
}

.comments_container>h3 a { text-transform: none; padding-left:10px; }
.comments_container>h3.no_comments a { color:#aaa; }

h3.activity_heading:hover,
.comments_container>h3:hover, 
.comments_container>h3:hover a { 
    color:#fff; background:rgb(232,46,33); 
}



.comments_container>h3>span { 
    text-transform: none; 
    }


.neu-toggle { display:none; line-height:.9em }
a:hover .neu-toggle { display:inline; }

.paragraph_wrapper {
    border-bottom:2px dashed #aaa;
}
ol.commentlist li.comment, ol.comment_activity li { 
    background:rgb(238,238,238);
}


/**
 * search form (header)
 *
 */

#header #searchform {
    position:absolute;
    top:1em; right:20px;
}
#header #searchform #searchsubmit {
    font-size:90%;
    padding:.25em .5em;
}


/*
<div class="comments_container">

    <h3 id="para_heading-" >
        <a class="comment_block_permalink" >
            <span class="cp_comment_num">0</span>
            <span class="cp_comment_word">Comments</span>
             on 
            <span class="source_block">the whole page</span>
            <em class="neu-toggle">&rightarrow;</em>
        </a>
    </h3>

    <div id="para_wrapper-" class="paragraph_wrapper no_comments">
        <div class="reply_to_para" id="reply_to_para-">
            <p><a class="reply_to_para" href="/commentpress/kafka/?replytopara#respond" >Leave a comment on the whole page</a></p>
        </div>
    </div>

    <h3 id="para_heading-pOmw..." class="no_comments">
        <a class="comment_block_permalink" >
            <span class="cp_comment_num">0</span>
            <span class="cp_comment_word">Comments</span>
             on 
            <span class="source_block">paragraph 1</span>
            <em class="neu-toggle">&rightarrow;</em>
        </a>
    </h3>
    <div id="para_wrapper-
        comments...
        


*/



